.canvas-container {
	height: calc(80vh);
	width: 100%;
	float: left;
}
.furniture {
    height: 30vh;
    width: 100vw;
    background-color: white;
}

.road {
    height: 80px;
    width: 80px;
}

.traffic {
    height: 50px;
    width: 50px;
}

.nature {
    height: 50px;
    width: 50px;
}

.metrics_bar1 {
    width: 100%;
    background-color: grey;
}

.metrics_bar2 {
    width: 1%;
    height: 30px;
    max-width: 100%;
    background-color: green;
}

.side {
    position:absolute;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
.col-sm-6 {
    margin-bottom: 1em;
}

a.nav-link {
    display: inline-block;
}