.canvas-container {
	height: calc(80vh);
	width: 100%;
	float: left;
}
.furniture {
    height: 30vh;
    width: 100vw;
    background-color: white;
}

.side {
    position:absolute;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
.col-sm-6 {
    margin-bottom: 1em;
}

a.nav-link {
    display: inline-block;
}